@page
@model Lab1.Pages.HomeModel
@{
    ViewData["Title"] = "Лабораторная 1. Razor Pages";
}
<h1>@ViewData["Title"]</h1>
<style>
    h1{
        font-weight: bold;
        font-size: 31px;
        font-family: "Roboto", sans-serif;
    }
    p {
        font-weight: normal;
        font-size: 22px;
        font-family: "Roboto", sans-serif;
        }
</style>

<p>Цель лабораторной - освоение движка серверного рендеринга Razor и технологии Razor Pages.</p>

<p>Вариант - 7</p>

<p>Умерова Аделина, ДИНРб-31.</p>
